@import "tailwindcss";

body {
    background-color: black
}

video.back-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}

div.main {
    position: relative;
    z-index: 1;
    text-align: center;
    display: grid;
    grid-template-rows: 64px auto 100px
}

.header {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-columns: 100px auto 100px;
    border: 1px dashed white;

    .navbar {
        grid-area: 1/ 2 / 2 / 3;
        display: flex;
        flex-direction: row-reverse;
    }

    a.item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
    }

    a.item:hover {
        background-color: white;
        color: black;
    }

}

.content-area {
    grid-area: 2 / 1 / 3 / 2;
}

.footer {
    grid-area: 3 / 1 / 4 / 2;
    width: fit-content;
    margin: auto;
}