@import "tailwindcss";

#root {
    color: white;
}

/* FONTS  */

.comic-relief-regular {
    font-family: "Comic Relief", system-ui;
}

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
}

.source-code-pro-200 {
    font-family: "Source Code Pro", monospace;
}

video.back-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

div.main {
    position: relative;
    text-align: center;
    display: grid;
    grid-template-rows: 64px auto 64px;
}

.content-area {
    grid-area: 2 / 1 / 3 / 2;

    .title {
        position: relative;
    }
}

@media screen and (max-width:640px) {

    /* for screens smaller than 640px | Ideal for smartphones */

    div.menu {
        position: absolute;
        top: 8px;
        right: 12px;
        font-size: 2rem;
        z-index: 1;
    }

    div.menu:hover {
        background-color: rgba(128, 128, 128, 0.3);
        border-radius: 12px;
    }

    .navbar.active {
        width: 50%;
    }

    .navbar {
        width: 0px;
        overflow: hidden;
        position: absolute;
        background-color: rgba(128, 128, 128);
        height: 100vh;
        right: 0;
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 24px;
        align-items: center;
        transition: width 0.5s ease-in-out;

        a.item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;
            font-size: 1.2rem;
            margin: 10px 0px;
            padding: 10px 10px;
            border-radius: 12px;
            transition: font-size, border, 0.5s ease-in-out;
        }

        a.item:hover {
            border: 1px solid white;
            padding: 10px 10px;
            font-size: 1.4rem;
            border-radius: 12px;
        }
    }

    .content-area {

        margin-inline: 40px;

        .title {
            font-size: 4rem;
        }

        h2.title {
            bottom: 32px;
        }

        .title-2 {
            font-size: 5rem;
        }

        p.heading-paragraph-1 {
            font-size: 1rem;
        }

        p.heading-paragraph-2 {
            color: grey;
            margin: 20px 0px;
            font-size: 1rem;
        }


        section.about {
            padding: 100px 0px;
            /* top-bottom margin = 100px */
        }
    }

    .footer {
        grid-area: 3 / 1 / 4 / 2;
        width: fit-content;
        margin: auto;
    }
}

@media (min-width:640px) and (max-width: 1024px) {

    /* for screens larger than 640px | Ideal for Tablets */

    div.menu {
        display: none;
    }

    .header {
        grid-area: 1 / 1 / 2 / 2;
        display: grid;
        grid-template-columns: 100px auto 100px;
        /* border: 1px dashed white; */
    }

    .navbar {
        grid-area: 1 / 2 / 2 / 3;
        display: flex;
        flex-direction: row-reverse;
    }

    a.item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        font-size: 1.2rem;
    }

    a.item:hover {
        background-color: white;
        color: black;
    }

    .content-area {

        section.first {
            text-align: left;

            div.heading-title {
                font-size: 5rem;
                margin-top: 5%;
                margin-left: 12%;

                h2.title {
                    bottom: 40px;
                }
            }

            p.heading-paragraph-1 {
                margin-inline: 48px;
                font-size: 1rem;
            }

            p.heading-paragraph-2 {
                color: grey;
                margin: 42px;
                font-size: 1rem;
            }
        }

    }

}

@media (min-width:1024px) and (max-width: 100vw) {

    /* for screens larger than 1024px | Ideal for Laptops and Desktops */

}