@import "tailwindcss";

@layer utilities {
    .nav-item {
        display: flex;
        width: 100px;
        height: 50px;
    }
}

body {
    background-color: grey;
}

div.main {
    text-align: center;
    display: grid;
    grid-template-rows: 50px auto 100px
}

.header {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-columns: 100px auto 100px;
    border: 1px dashed white;

    .navbar {
        grid-area: 1/ 2 / 2 / 3;
        display: flex;
        flex-direction: row-reverse;

        a {
            width: fit-content;
            margin: auto;
        }
    }
}

.content-area {
    grid-area: 2 / 1 / 3 / 2;
}

.footer {
    grid-area: 3 / 1 / 4 / 2;
    width: fit-content;
    margin: auto;
}